<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Los Olivos</title>
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
    <h1 class="titulo-estilo">Sobre nosotros - de Los Olivos</h1>
    <hr>
    <div class="contenedor1">
        <input type="button" class="boton-estilo1" value="Inicio" onclick="enviarAccion('Inicio')">   
        <input type="button" class="boton-estilo1" value="Consulta tu servicio" onclick="enviarAccion('Tienda')">
        <input type="button" class="boton-estilo1" value="Servicios" onclick="enviarAccion('Servicios')">
        <input type="button" class="boton-estilo1" value="Sobre nosotros" onclick="enviarAccion('Sobre nosotros')">
    </div>
    <br />
    <div class="construction">
        <img src="../images/Under_Constuction.jpg"></img>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/home.js"></script>
</body>
</html>